@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format("woff2");
  }
}

@include font("Montserrat", "normal", 400, "../../fonts/Montserrat/Montserrat-Regular.woff2");
@include font("Montserrat", "normal", 300, "../../fonts/Montserrat/Montserrat-Light.woff2");
@include font("Montserrat", "normal", 700, "../../fonts/Montserrat/Montserrat-Bold.woff2");
@include font("Montserrat", "normal", 900, "../../fonts/Montserrat/Montserrat-Black.woff2");
