.btn {
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 1rem 2.5rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
  }

  &-accent {
    background-color: $accent;
    color: #fff;

    &:hover {
      background-color: darken($accent, 10%);
    }
  }
}
