* {
  --color-white: #fff;
  --color-black: #000;

  --color-brand-primary: #3316e9;
  --color-brand-secondary: #81ff0c;

  --color-button-primary: #3316e9;
  --color-button-primary-hover: #1800b3;
  --color-button-primary-active: #2200ff;
  --color-button-secondary: #81ff0c;
  --color-button-secondary-hover: #63cc00;
  --color-button-secondary-active: #90ff28;

  --color-text-headlines: #000;
  --color-text-primary: #333;
  --color-text-secondary: #595959;
  --color-text-secondary-light: #808080;

  --rounded-small: 4px;
  --rounded-medium: 8px;

  --font-family-primary: 'Manrope', Inter, sans-serif;
}